<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ig</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="igCtrl">
  <div ng-view></div>
  <a href="{{auth0}}">
    <button type="button" class="btn btn-default" ng-click="loggedin()">Login</button></a> <!-- pass in logged in to button -->

    <li ng-repeat="image in images">
      <a ng-href="{{image.link}}">
        <img width="80" height="80" ng-src="{{ image.images.standard_resolution.url }}" src="" alt="">
      </a>
    </li>

    <br> <br>
    <button type="button" class="btn btn-default" ng-click="updatePhotosHashtag()">Update</button> <!-- updates the photos -->
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Hashtag</span>
      <input ng-model="hashtag" type="text" class="form-control" placeholder="bunny" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">#photos</span>
      <input ng-model="numPhotos" type="text" class="form-control" placeholder="10" aria-describedby="basic-addon1">
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="instagram.controller.js"></script>
    <script src="app.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
  </body>
  </html>
